* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
}

.container {
  max-width: 1300px;

  /* پدر را اینطور مارجین می‌دهیم تا فرزندش وسط قرار بگیرد */
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.align-item-center {
  align-items: center;
}

.navbar {
  width: 100%;
  background-color: var(--nav-color);
  border-radius: 12px;
  margin-top: 1rem;
  box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
  padding: 1rem 2rem;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 10% 45% 25%;
}

.left-nav {
  height: 100%;
}

.box-image-logo {
  min-width: 50px;
}

.box-image-logo img {
  width: 100%;
}

.center-nav {
}

.center-nav ul {
  justify-content: space-between;
  height: 100%;
  list-style-type: none;
}

.center-nav a {
  text-decoration: none;
}

.profile-user {
  width: 50px;
  height: 50px;
}

.profile-user img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.right-nav {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.group-icon {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.status-connection {
  width: 67px;
  text-align: center;
  border-radius: 3px;
  background-color: #edfdfa;
  padding: 0.4rem;
  color: #1f927f;
}

.active {
  background-image: linear-gradient(70deg, #3ac2ff 50%, #2f56ff);
  border-radius: 22px;
  color: white;
  padding: 12px;
  font-weight: bold;
}
